* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div1 CSS */
/* div1 CSS */
/* div1 CSS */


#maindiv {
    width: 100vw;
    height: 1170px;
 
}


#div1 {
    width: 100vw;
    height: 645px;
    background-image: url("netflixbg.jpg");
    background-size: cover;
    color: red;  
    background-repeat: no-repeat;
    position: relative; 
}

.homepart1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 645px;
    opacity: 0.9;
    background-color: black;
    /* background: rgba(0, 0, 0, 0.84) */


}

.navbar {
    width: 100vw;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.navbardiv {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navlogo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.navlogo img {
    width: 170px;
    height: 45px;
    align-self: center;
    align-content: center;
    /* mix-blend-mode: multiply; */


    /* object-fit: cover; */
}

.navbtn {
    width: 30%;
    height: 100%;

}

.navbtnlist {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

.navbtn1 {
    width: 60%;
    height: auto;
    margin: auto;
}

.navbtn2 {
    margin: auto;
    width: 40%;
    height: auto;

}

.navselectbtn {
    width: 126px;
    height: 32px;
    margin-left: 8px;
    color: white;
    background: rgba(0, 0, 0, 0.708);
    border-style: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.navsigninbtn {
    width: 77px;
    height: 32px;
    margin-left: 2px;
    /* background-color: rgb(229, 9, 20); */
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: small;
}
.navsigninbtn:hover {
    background-color: rgb(167, 9, 9);
}

.homecontent {
    width: 100%;
    height: 50%;
    margin-top: 17vh;
}

.homecontent1 {
    margin: auto;
    width: 45%;
    height: 100%;
    /* background-color: rgb(172, 172, 172); */
}

.homecontentheading {
    width: 100%;
    height: 45%;
    /* background-color:red ; */
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.homecontentheading {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-align: center;
    color: white;
}

.homecontentplan {
    width: 100%;
    height: 30%;
}
.homecontentplan1{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    
}
input{
    text-indent: 10px;
    font-size: 15px;
  }
.homecontentplan2{
    width: 100%;
    height: 50%;
    /* background-color: rgb(43, 11, 44); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    font-weight: 300;
  
    
}

.homecontentmail {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.homecontentmail1{
    width: 65%;
    height: 100%;
}
.homecontentmail1 > input{
    width: 100%;
    height: 73%;
    background: rgba(0, 0, 0, 0.708);
    border-style: none;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
}
.homecontentmail2{
    width: 33%;
    height: 100%;    
}
.homecontentmail2 > button{
    width: 100%;
    height: 73%;
    background-color: red;
    border-style: none;
    border-radius: 6px;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}
.homecontentmail2 > button:hover{
    background-color: rgb(167, 9, 9);
}
